# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/


# Dotenv file
.env

node_modules

offchain-secrets.json
.env.enc

# OpenZeppelin Upgrades local network artifacts
.openzeppelin

# Chainlink Functions request artifacts
.chainlink_functions

.DS_Store

# hardhat
artifacts
cache
cache_hardhat
deployments
node_modules
coverage
coverage.json
typechain