# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

node_modules

offchain-secrets.json
.env.enc

# OpenZeppelin Upgrades local network artifacts
.openzeppelin

# Chainlink Functions request artifacts
.chainlink_functions

.DS_Store
